<!DOCTYPE html>
<html lang="cs">

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
    </style>
    {% block customhead %}{% endblock %}
    <meta name="twitter:card" content="summary_large_image"></meta>
    <meta property="og:title" content="{% block ogtitle %}{% endblock %}" />
    <meta property="og:description" content="Kolik doopravdy zemřelo lidí kvůli covidu." />
    <meta name="Description" CONTENT="Kolik doopravdy zemřelo lidí kvůli covidu.">
    <meta property="og:image" content="{% block ogimage %}{% endblock %}" />

    {#    <script async defer data-domain="data-o-klimatu.netlify.app" src="https://plausible.io/js/plausible.js"></script>#}
{#    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">#}
{#    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">#}
{#    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">#}
{#    <link rel="manifest" href="/site.webmanifest">#}
{#    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">#}
{#    <meta name="msapplication-TileColor" content="#da532c">#}
{#    <meta name="theme-color" content="#ffffff">#}
</head>
<body>
{% block bodyscript %}{% endblock %}
<nav>{% block uppernav %}{% endblock %}</nav>
<div>{% block content %}{% endblock %}</div>
</body>
